*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    object-fit: cover;
}

.contenedor{
    width: 300px;
    height: 400px;
    margin: 50px auto;
    box-shadow: 15px 20px 40px black ;
    border-radius: 20px ;
}
.contenedor__imagen{
    width: inherit;
    height: 50%;
    overflow: hidden;
}

.contenedor__imagen picture img{
    cursor:pointer;
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px 20px 0 0;
    transition: all 1s ease;
}
.contenedor__imagen picture img:hover{
    transform: scale(3.5) rotate(45deg);

}
.contenedor__texto{
    padding: 10px;
    text-align: center;
    height: 50%;
    margin-top: 20px;
}
.contenedor .contenedor__texto .texto__titulo{
    font-size: 20px;
    color: #641809;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor__texto p{
    margin-top: 10px;
}
button{
    padding:10px 20px;
    border:none;
    border-radius: 10px;
    background-color: #ae2121;
    color: white;
    margin-top: 15px;

}
.contenedor2{
    width: 400px;
    height: auto;
    margin: 20px auto;
}
.contenedor2 picture img{
    filter:drop-shadow(10px 10px 0px gold);
    display: block;
}