*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    padding: 45px 0;
    color: #fff;
    background: rgba(78, 14, 138, 0.575);
    background: #1b95aad5;
    background: hsl(180, 40%, 20%);
    background:#582660;
}


.title{
    text-align: center;
}


/* .color{
    width: 200px;
    height: 200px;
    background-color: rgba(50, 50, 255,.3);
    transition: background-color 0.5s ease,trasform 1s ease;
}

.color:hover{
    background-color: rgba(50, 50, 255,1);
    transform: scale(2) rotate(0deg);
} */